
*,
 *::before,
  *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;

}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;;
  color: #000000;

}
.main-container {
  flex-grow: 1;
}
.site-container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


/* Навигация */
.page-header {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation-logo {
  z-index: 1;
  margin-right: 40px;
  margin-bottom: -10px;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 345px;
  list-style-type: none;

}
.link-active {
  border-bottom: 2px solid #756257;;
}
.navigation-user{
  min-width: 264px;
  margin-left: auto;
}
.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #ffffff;
  padding: 20px 17px;
  color: #000000;
  align-self: center;
  text-decoration: none;
}
.navigation-link-icon {
  min-width: 42px;
  min-height: 66px;
  padding: 24px 12px;
  margin: 0;
}
.navigation-user .button-brown {
  margin-left: 20px;
  padding: 9px 15px;
  width: 160px;
}


/* Welcome-logo */
.background-image {
  background-color: #ffffff;
  color: #000000;
  background: url("../images/background/index-background.jpg") no-repeat;
  margin: 0 auto;
  height: 485px;
  width: 1200px;
  position: relative;
  padding-top: 51px;
  padding-bottom: 82px;

}
.background-image::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url('../images/background-line.svg');
  background-size: 1200px 57px;
  bottom: 0;
  width: 1200px;
  height: 57px;
}
.welcome-logo {
  display: block;
  margin: 0 auto;

}

/* О Седоне */
.about-sedona {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
}
.about-sedona-container{
  max-width: 720px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 79px;

}

.about-sedona-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 23px;

}
.about-sedona-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0;

}

/* Список преимуществ */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  width: 400px;
  height: 384px;
}
.advantages-item-container {
  padding: 98px 90px 77px 90px;
}


.advantages-item-container-icon{
  padding: 89px 75px 79px 75px ;
}

.item-with-photo {
  background: #83B3D3;
  color: #ffffff;
  width: 1200px;
}
.item-with-photo .advantages-item-description {
  color: #ffffff;
}
.housing,
.souvenirs,
.small-area,
.few-tourists {
  background: rgba(131, 179, 211, 0.12);
}
.beautiful-road {
  background: rgba(131, 179, 211, 0.2);
}
.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;
}
.advantages-item-container-icon .advantages-item-title {
  padding-top: 20px;
  padding-bottom: 23px;
}
.advantages-item-description {
  color: #333333;
  margin: 0;
  padding-bottom: 26px;
}
.advantages-item-description:last-child{
  padding-bottom: 0;
}
/* Поиск гостиниц */
.hotel-search {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
  padding-top: 91px;

}
.hotel-search-container {
  text-align: center;
  width: 720px;
  margin: 0 auto;
  padding-bottom: 93px;
}

.hotel-search b {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.hotel-search p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 56px;
}

/* Форма рассылки */
.mailing {
  background-image: url("../images/background/background-mailing.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1200px;
  height: 411px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding-top: 91px;
}
.mailing-container {
  margin: 0 200px 93px;

  width: 800px;
  height: 224px;
}

.mailing b {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.mailing p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/* Футер */
.page-footer {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}
.social {
  min-width: 107px;
  margin: 49px 61px 53px 72px;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact {
  width: 720px;
  height: 50px;
  margin: 40px 53px 30px 0;
}
.contact-number {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
.logo-htmlacademy {
  margin: 42px 72px 44px 0;
}






/* Каталог */
.main-inner {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background: #ffffff;
}

.catolog-background {
  background-image: url("../images/background/catalog-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 408px;
  color: #ffffff;
  background-color: #000000;
  margin: 0 auto;
  margin-bottom: 40px;

}

.header-inner{
  padding-top: 35px;
}
.header-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}
.breadcrumbs {
  display: flex;
  margin: 0;
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 45px;
}
.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  margin-right: 26px;
}
.catalog-filter {
  display: flex;
}
.catalog-filter-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
.catalog-filter-group{
  text-align: left;
}
.catalog-filter-group-infrastructure {
  width: 150px;
  margin-right: 69px;
}
.catalog-filter-group-type-of-housing {
  width: 143px;
  margin-right: 167px;
}
.catalog-filter-group-price {
  width: 287px;
  margin-right: 81px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}
.control-input {
  margin-bottom: 13px;
}
.button-container{
  display: flex;
  flex-direction: column;
}
.page-container {
  width: 1056px;
  margin: 0 auto;
}




/* Каталог гостиниц*/
.sorting {
background-color: #ffffff;
color: #000000;
}
.sorting-container{
  display: flex;
  height: 48px;
  width: 1057px;
}

.sorting-page {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: 192px;
}
.select-control {
  width: 287px;
  margin-right: 80px;
  padding: 12px 127px 13px 19px;

}
/* Список карточек */
.hotel-list{
  display: grid;
  grid-template-columns: 339px 349px 348px;
  gap: 10px;
  padding: 0;
  margin: 0;
  padding-top: 33px;
  padding-bottom: 54px;
}
.hotel-card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 339px;
  height: 438px;
  padding: 20px;

}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;

}
.hotel-card-link {
  text-decoration: none;

}
.hotel-card-image {
  display: block;
  padding-bottom: 16px;
  object-fit: cover;
}
.description-hotel{
  display: flex;
  justify-content: space-between;
  width: 235px;
  padding-top: 2px;
}
.button-hotel-container {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 21px;
  padding-top: 9px;
  padding-bottom: 10px;
  width: 133px;
}
.favourites {
  width: 141px;
}
.rating{
  display: flex;
  justify-content: space-between;
}
.star {
  display: inline-block;
  padding-right: 5px;
}
.star:last-child {
  padding-right: 0;
}
.rating-hotel {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 10px;
  width: 160px;
}
.show-more-container {
  width: 1056px;
  padding: 30px 218px;
  margin-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.button-show-more{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  height: 60px;
  border: none;
  padding: 0;
}
.pagination-container {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  height: 55px;
}
.pagination{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.pagination-item {
  margin-right: 8px;
}
.pagination-item:last-child{
  margin-right: 0;
}
.pagination-current {
  color: #000000;
  background: #F2F2F2;
}
.number-of-elements-container {
  align-self: center;
}
.number-of-elements {
  margin-left: 51px;
  padding: 13px 133px 12px 17px;
}
.mailing-inner {
  width: 800px;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 140px;
}
.mailing-inner-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.mailing-inner-description {
  margin: 15px auto 26px;
}


/* Кнопки */
.button-brown {
  background: #756257;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}
.button-blue {
  background: #83B3D3;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

}
.button-filter {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 20px;
}
.button-container{
  align-self: end;
}
.button-active{
  background: #7DB54F;
}

.button-sorting {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}
.button-sorting:last-child {
  margin-right: 0;
}
.button-sorting-active {
  border: 2px solid #000000;
}

.search-button {
  width: 575px;
  padding: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
